li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.lists {
  display: flex;
  flex-wrap: wrap;
justify-content: center;
justify-content: space-between;
}

.center {
  text-align: center;
}

img {
  width: 20vw;
  height: 30vh;
}